################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/frontend-javascript
/.vs
/0x04-TypeScript/task_0/node_modules
