################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/frontend-javascript
/.vs
/0x04-TypeScript/task_0/node_modules
/0x04-TypeScript/task_1/node_modules
/0x04-TypeScript/task_2/node_modules
/0x04-TypeScript/task_3/node_modules
/0x04-TypeScript/task_4/node_modules
/0x04-TypeScript/task_5/node_modules
